fastapi==0.111.0
uvicorn[standard]==0.30.1
python-multipart==0.0.9
mediapipe==0.10.14
librosa==0.10.2
numpy==1.26.4
opencv-python-headless==4.10.0.84
azure-storage-blob==12.20.0
azure-ai-vision-face==1.0.0b2
azure-identity==1.17.1
